{:up ["CREATE TABLE Participant (id TEXT PRIMARY KEY DEFAULT uuid_generate_v1mc(),
                                 Room_id TEXT NOT NULL,
                                 name varchar(200),
                                 username varchar(200),
                                 FOREIGN KEY(Room_id) REFERENCES Room(id),
                                 FOREIGN KEY(username) REFERENCES Users(username));"]
 :down ["DROP TABLE Participant;"]}
